*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
body{
    overflow: hidden;
}
.container{
    width: 100%;
    min-height: 100vh;
    background-color: beige;

}
nav{
    display: flex;
    width: 100%;
justify-content: space-around;
height: 88px;
z-index: 111;
background-color: red;
}
.logo {
    display: flex;
    font-size: 40px;
    font-weight: 800;
    color: rgb(39, 39, 233);
    letter-spacing: 3px;
    cursor: pointer;
    text-transform: uppercase;
}
.ul{
    display: flex;
    align-items: center;
justify-content: space-between;
}